node_modules/

# build artifact during actions
minified/ 
dist/
build/

*.log
*.tmp
*.bak

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode/

*_thumb.*
*.webp

__pycache__/
*.pyc

# Ignore source assets, manually put them in the `main` branch
# ignore everything in 3dgs/images except we’ll explicitly track these files
3dgs/images/

# minify and web optimize the images
make_thumbnails.sh
*.sh


# Ignore GitHub Pages deployment branch
# (optional if you ever pull main into source)
main/